asgiref==3.2.10
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
Django==3.1.1
django-cors-headers==3.5.0
djangorestframework==3.11.1
gunicorn==20.0.4
ibm-cloud-sdk-core==1.7.3
ibm-watson==4.7.1
idna==2.10
mixins==0.1.4
proto-plus==1.11.0
psycopg2-binary==2.8.6
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
rsa==4.6
six==1.15.0
sqlparse==0.3.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.25.11
websocket-client==0.48.0
djangorestframework_simplejwt==4.4.0
